<! Author: Ivan Alejandre>

<% include partials/ia_header.ejs%>

            <ul id="navbar">
                <li id="database" class=""> Database </li>
                <li id="reports" class=""> Reports </li>
                <li id="about" class="navBarActive"> Help </li>
            </ul>
        </div>

        <div id="workArea">
            <div id="itemTable">
                <div class="buttonGroup">
                    <button class="tableBtn" id="addItem"> Add Item </button>
                    <button class="tableBtn" id="updateItem"> Update Existing </button>
                    <button class="tableBtn" id="removeItem"> Delete Item </button>
                    <span id="actionMessage"></span>
                </div>
                <div id="addModal" class="modal">
                    <div id="addForm" class="form-popup">
                        <form id="addFormRes" method="POST" class="form-container">
                            <h1>Add a product</h1>
                            <h2 class="error" id="addErrorMessage">ERROR: FILL IN ALL FIELDS!</h2>
                            <h3> Product Name </h3>
                            <input type='text' name='itemName' id="addName">
                            <h3> Price </h3>
                            <input type='text' name='price' id="addPrice" placeholder="In dollars($)">
                            <h3> Description </h3>
                            <textarea name='description' id="addDesc" placeholder="500 characters max" cols='100' rows='5'></textarea>
                            <h3> Tags </h3>
                            <textarea name='tags' id="addTag" placeholder="list tags separated by a ," cols='100' rows='3'></textarea>
                            <button type='button' class="btn" id='submitAdd' value="add"> Add </button>
                            <button type="button" class="btn cancel" id="closeBtnAdd"> Close </button>
                        </form>
                    </div>
                </div>
                <div id="updateModal" class="modal">
                    <div id="updateForm" class="form-popup">
                        <form id="upFormRes" method="POST" class="form-container">
                            <h1>Update a product</h1>
                            <h2 class="error" id="upErrorMessage">ERROR: FILL IN ALL FIELDS!</h2>
                            <h3> Product ID</h3>
                            <input type="text" name="itemID" id="updateID">
                            <h3> Product Name </h3>
                            <input type='text' name='itemName' id="updateName">
                            <h3> Price </h3>
                            <input type='text' name='price' placeholder="In dollars($)" id="updatePrice">
                            <h3> Description </h3>
                            <textarea id="updateDesc" name='description' placeholder="500 characters max" cols='100' rows='5'></textarea>
                            <h3> Tags </h3>
                            <textarea id="updateTags" name='tags' placeholder="list tags separated by a ," cols='100' rows='3'></textarea>
                            <button type='button' class="btn" id='submitUpdate' value="update"> Update </button>
                            <button type="button" class="btn cancel" id="closeBtnUp"> Close </button>
                        </form>
                    </div>
                </div>
                <div id="removeModal" class="modal">
                    <div id="deleteForm" class="form-popup">
                        <form id="delFormRes" method="POST" class="form-container">
                            <h1>Delete a product</h1>
                            <h2 class="error" id="delErrorMessage">ERROR: PRODUCT ID IS REQUIRED!</h2>
                            <h3> Product ID </h3>
                            <input type='text' name='itemID' id="deleteID">
                            <button type='button' name='submit' class="btn" id='submitDel' value="delete"> Delete </button>
                            <button type="button" class="btn cancel" id="closeBtnDel"> Close </button>
                        </form>
                    </div>
                </div>
                <table class="tableData">
                    <tr class="tableHeader">
                        <th> Product ID </th>
                        <th> Prodcut Name </th>
                        <th> Price ($) </th>
                        <th class="descriptionCol"> Description </th>
                        <th> Tags </th>
                    </tr>
                        <% rows.forEach(function (row) { %>
                            <tr class="rowData">
                                <td> <%=row.itemID %> </td>
                                <td> <%=row.itemName %> </td>
                                <td class="numberFormat"> <%=row.price %> </td>
                                <td class="descriptionCol"> <%=row.description1 %> </td>
                                <td> <%=row.description2 %> </td>
                            </tr>
                        <% }) %>
                </table>
            </div>
            <div id="reportsPage" style="display: none">
                <div >
                    <select id="query" class="selectpicker">
                        <option value=""> Select a query </option>
                        <option value="popular"> Popularity </option>
                        <option value="price"> Price of Items </option>
                        <option value="transaction"> Transaction Amount </option>
                    </select>
                    <select id="querySpecifier" class="selectpicker">

                    </select>
                    <button id="reportsSubmit"> Search </button>
                </div>
                <table id="reportsTable" class="tableData">

                </table>
            </div>
            <div id="aboutDescription">
                <h3>Under the 'Database' tab you will find the ability to directly manipulate the data in the Products table.
                    You may add, update, or delete items from the database.</h3>
                <h3>In the 'Reports' tab, there are predefined report queries for you to select. These queries will result
                    in a table of the items.</h3>
            </div>
        </div>

    </body>

<% include partials/ac_footer.ejs%>