<% include partials/ac_header.ejs %>

</head>

<body>
    <main>
        <div id="ac_searchBar_div">
            <form id="ac_searchBar" action="/search">
                <h2>Welcome <span id="nameSpan"><%=username%></span>
                    
                    <button>Go To Search</button></h2>
            </form>

            <div id="ac_userBtnDiv">
                <% if (isAdmin) {%>
                    <form method="GET" action="/adminPage" id="ac_adminForm">
                        <button id="ac_adminBtn">Go To Admin Page</button>
                    </form>
                <%}%>
                    
                <form method="GET" action="/logout" id="ac_logout">
                    <button id="ac_logoutBtn">LogOut</button>
                </form>
            </div>
        </div>

        <div id="ac_welcomePageMain">
            <div id="ac_newsFeed">
                
                <h2 id="ac_spaceNewsTitle">Space News</h2>
                <hr>

                <% for (var i = 0; i < numToDisplay; i++) { %>
                    <a class="ac_newsLink" href='<%=urls[i]%>' ><%=titles[i]%></a><br>
                    <img class="ac_newsImg" src='<%=imgUrls[i]%>' width="75" height="75"><br>                    
                <% } %>
                
            </div>
            <div id="ac_displayArea">
                <div id="upperPart">
                    <div id="ac_apod">
                        <h2>Your Daily Dashboard</h2>
                        <h3>Daily NASA APOD Inspiration</h3>
                        <h4><%=apodTitle%></h4> 
                        <img class="ac_apodImg" src='<%=apodImgUrl%>' width="200" height="200"><br>
                    </div>
                    <hr>

                    <div id="ac_usage">
                        <h3>Website Usage</h3>
                        <p>Use the above search box to search for planets or stars! 
                            You can search based on name OR attribute.
                            once you add one or more plantets you proceed to the 
                            checkout and pay. Then the planets/stars are yours!
                            </p>
                            <p><i>Were as legit as any other company selling you planets or stars!</i></p>
                    </div>

                </div>

                <hr>

                <div id="ac_ajaxPortion">
                    

                </div>


            </div>
        </div>

        <hr>

    </main>
    
    <% include partials/ac_footer.ejs %>
